<!DOCTYPE html>
<html lang="en">
<head>
    <title>e-commerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="stylesheet.css">

    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .nav-item {
            margin-left: 10px;
        }

        .nav-item:first-child {
            margin-left: 0;
        }


        form {
            width: 300px;
            margin: 0 auto;
            margin-left: 600px;
        }

        p{
            margin-left: 640px;
        }

        h1{
            font-size: large;
            text-align: center;
            color: green;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

    </style>

</head>
<body style="height:1500px">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/productscataloguelogged">El. komercija</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/productscataloguelogged">Produktų katalogas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productrecomendationssimple">Populiarios prekės</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productrecomendationsprofile">Rekomenduojame</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cartlogged">Pirkinių krepšelis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/friends">Vartotojų sąrašas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boughtproductslogged">Pirktų prekių katalogas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/settingslogged">Keisti vartotojo duomenis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Atsijungti</a>
        </li>
    </ul>
</nav>

<br><br><br>

<h1>Vartotojo amžius pakeistas.</h1>


<form class="btn btn-outline-dark" action="#" th:action="@{/changeusername}" method="post">
    <label for="username">Naujas vartotojo vardas:</label>
    <input type="text" id="username" name="username"><br>
    <input class="btn btn-secondary btn" type="submit" value="Keisti">
</form>

<br>
<hr>
<br>

<form class="btn btn-outline-dark" action="#" th:action="@{/changepassword}" method="post">
    <label for="password">Naujas vartotojo slaptazodis:</label>
    <input type="text" id="password" name="password"><br>
    <input class="btn btn-secondary btn" type="submit" value="Keisti">
</form>

<br>
<hr>
<br>

<form class="btn btn-outline-dark" action="#" th:action="@{/changecity}" method="post">
    <label for="city">Miestas:&nbsp; &nbsp; &nbsp; &nbsp;</label>
    <select class="btn btn-primary" id="city" name="city">
        <option value="Vilnius">Vilnius</option>
        <option value="Vilniaus apskritis">Vilniaus apskritis</option>
        <option value="Kaunas">Kaunas</option>
        <option value="Kauno apskritis">Kauno apskritis</option>
        <option value="Klaipėda">Klaipėda</option>
        <option value="Klaipėdos apskritis">Klaipėdos apskritis</option>
        <option value="Panėvėžys">Panėvėžys</option>
        <option value="Panėvėžio apskritis">Panėvėžio apskritis</option>
        <option value="Šiauliai">Šiauliai</option>
        <option value="Šiaulių apskritis">Šiaulių apskritis</option>
        <option value="Alytus">Alytus</option>
        <option value="Alytaus apskritis">Alytaus apskritis</option>
        <option value="Marijampolė">Marijampolė</option>
        <option value="Marijampolės apskritis">Marijampolės apskritis</option>
        <option value="Palanga">Palanga</option>
        <option value="Palangos apskritis">Palangos apskritis</option>
    </select>
    <input class="btn btn-secondary btn" type="submit" value="Keisti">
</form>

<br>
<hr>
<br>

<form class="btn btn-outline-dark" action="#" th:action="@{/changeage}" method="post">
    <div style="display: flex; align-items: center;">
        <div>
            <label for="age">Gimimo metai:</label>
        </div>
        <div>
            <input class="btn btn-primary" type="number" id="age" name="age" min="1925" max="2023" value="{}">
        </div>
        <div>
            <input class="btn btn-secondary btn" type="submit" value="Keisti">
        </div>
    </div>
</form>

<br>
<hr>
<br>

<form class="btn btn-outline-dark" action="#" th:action="@{/changesex}" method="post">
    <label for="sex">Lytis: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <select class="btn btn-primary" id="sex" name="sex">
        <option value="male">Vyras</option>
        <option value="female">Moteris</option>
    </select>
    <input class="btn btn-secondary btn" type="submit" value="Keisti">
</form>



<div class="content"></div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
    <span class="text-muted"> /\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\. Autorių teisės &copy; 2023
      <a href="https://luuuuukas.github.io/">Lukas Lukoševičius</a>
      Visos teisės saugomos. ./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\./\ </span>
    </div>
</footer>
</body>
</html>
